</body>
</html>
<footer>
  <a href="https://github.com/csalguera/garner" target="_blank">View on GitHub</a>
  |
  <a href="https://github.com/csalguera/garner/blob/main/attributions.md" target="_blank">Attributions</a>
</footer>