.platform-btns-container {
  display: flex;
  margin-top: 16px;
}

.platform-btns-container > * {
  margin-left: 8px;
  margin-right: 8px;
}

main img {
  width: 500px;
  height: 250px;
  object-fit: contain;
  mix-blend-mode: difference;
}

.store-link {
  font-size: 32px;
  margin-top: 16px;
  color: white;
}

.store-link:hover {
  text-decoration: underline;
}