.new-game-form,
.edit-game-form {
  display: flex;
  flex-direction: column;
}

.new-game-form *,
.edit-game-form * {
  margin-bottom: 16px;
}

.comment-form {
  display: flex;
}

.comment-form {
  align-items: center;
}

.comment-form > * {
  margin: 0 8px;
}

.comment-form img {
  border-radius: 100px;
  max-width: 50px;
  max-height: 50px;
}

.comment-form input {
  width: 340px;
}

.comment-form button {
  float: right;
}