main > a {
  color: white;
  font-size: 24px;
  margin-top: 16px;
  padding: 5px;
}

main > a:hover {
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 100px;
}

.game-image {
  width: 700px;
  height: 350px;
  object-fit: cover;
}

.no-image {
  width: 700px;
  height: 350px;
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-btns-container {
  display: flex;
  margin-top: 16px;
}

.game-btns-container > * {
  margin-left: 8px;
  margin-right: 8px;
}

.all-comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  width: 500px;
}

h2, h3 {
  align-self: center;
}

.comment-form,
.comment {
  display: flex;
}

.comment-form {
  align-items: center;
}

.comment-form > * {
  margin: 0 8px;
}

.comment-form img,
.comment img {
  border-radius: 100px;
  max-width: 50px;
  max-height: 50px;
}

.comment-form input {
  width: 300px;
}

.comment-form button {
  float: right;
}

.comment {
  margin: 12px 0 0;
  height: fit-content;
}

.comment > * {
  margin: 0 8px;
}

.comment a {
  width: max-content;
  align-self: flex-start;
  color: white;
  white-space: nowrap;
}

.comment a:hover {
  text-decoration: underline;
}

.content {
  max-width: 415px;
  align-self: flex-end;
  word-wrap:break-word;
  height: fit-content;
  margin-bottom: 12px;
  cursor: pointer;
}

.comment-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.comment-container:hover
.comment-btns-container {
  visibility: visible;
}

.comment-btns-container {
  align-self: end;
  margin: 0 8px;
  width: 415px;
  display: flex;
  visibility: hidden;
}

.platforms-container {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.platforms-container img {
  width: 100px;
  object-fit: contain;
  mix-blend-mode: difference;
}

.platforms-container img:hover {
  background-color: gray;
  border-radius: 10px;
}

.platforms-container div {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.platforms-container:hover
.platform-remove-btn {
  visibility: visible;
}

.platform-remove-btn {
  margin: 16px 0;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: red;
  visibility: hidden;
}

.platform-remove-btn:hover {
  color: red;
}

.description {
  max-width: 600px;
  text-align: center;
}

.profile-anchor {
  color: white;
  font-size: 24px;
}

.profile-anchor:hover {
  text-decoration: underline;
}